<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div style="text-align: center;">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active current"><a routerLink="/Telstra"  >Telstra</a></li>
        <li routerLinkActive="active current"><a routerLink="/Personal" >Personal</a></li>
        <li routerLinkActive="active current"><a routerLink="/smallbusiness" >Small Business</a></li>
        <li routerLinkActive="active current"><a routerLink="/businessEnterprise" >Business & Enterprise</a></li>
        <li routerLinkActive="active current"><a routerLink="/health" >Health</a></li>
        <li routerLinkActive="active current"><a routerLink="/sportEntertainment" >Sport and Entertainment</a></li>
      </ul>
    </div>
  </div>
</nav>