<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
<!--<footer class="navbar navbar-fixed-bottom" style="margin-top: 10px;">-->
  <footer class="navbar " style="margin-top: 10px;">
    <div class="footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
            <ul class="social">
              <li> <a href="https://www.facebook.com/Telstra"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>                </li>
              <li> <a href="https://twitter.com/telstra"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a></li>
              <li> <a href="https://www.youtube.com/user/TelstraCorp"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"> </i> </a>                </li>
              <li> <a href="https://crowdsupport.telstra.com.au/"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>                </li>
            </ul>
          </div>
          <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
            <ul>
              <li><a href="https://www.telstra.com.au/sitemap" class="header"><b>Telstra.com sitemap</b></a></li>
              <li><a href="https://www.telstra.com.au/small-business/support/contact-us">Contact us</a>
              </li>
              <li><a href="https://crowdsupport.telstra.com.au/t5/Telstra-Business-Centres/ct-p/Telstra-Business-Centres">Find a Telstra Business Centre</a>
              </li>
              <li><a href="https://careers.telstra.com">Careers</a></li>
              <li><a href="https://www.telstra.com.au/partners-and-causes/">Partners and Causes</a></li>
            </ul>
          </div>
          <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
            <ul>
              <li><a href="https://www.telstra.com.au/aboutus" class="header"><b>About us</b></a></li>
              <li><a href="https://www.telstrawholesale.com.au">Telstra Wholesale</a></li>
              <li><a href="https://www.telstraglobal.com">Global Enterprise & Services</a></li>
            </ul>
          </div>
          <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
            <ul>
              <li><a href="https://www.telstra.com.au/consumer-advice" class="header"><b>Consumer Advice</b></a></li>
              <li><a href="https://www.telstra.com.au/help/critical-information-summaries">Critical Information Summaries</a></li>
              <li><a href="https://www.telstra.com.au/customer-terms">Our Customer Terms</a></li>
              <li><a href="https://www.telstra.com.au/terms-of-use">Terms of use</a></li>
              <li><a href="https://www.telstra.com.au/privacy">Privacy</a></li>
              <li><a href="https://www.telstra.com.au/consumer-advice/your-information">Your Information</a></li>
            </ul>
          </div>
        </div>
        <!--/.row-->
      </div>
      <!--/.container-->
    </div>
    <!--/.footer-->
  </footer>
